[package]
name = "rss-forwarder"
description = "Checks RSS feeds for new entries and forwards them."
version = "0.1.0"
authors = ["Markus Wiegand <mail@morphy2k.dev>"]
edition = "2018"
keywords = ["rss", "cli", "webhook"]
categories = ["command-line-utilities"]
repository = "https://github.com/morphy2k/rss-forwarder"
readme = "README.md"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
jemallocator = "0.3"
tokio = { version = "1", features = ["full"] }
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
futures = { version = "0.3", default-features = false, features = ["std"] }
async-trait = "0.1"
rss = { version = "1", default-features = false }
chrono = "0.4"
log = "0.4"
env_logger = "0.9"
thiserror = "1"
humantime-serde = "1"
toml = "0.5"
pico-args = "0.4"
blake3 = "1"

[profile.release]
lto = true
opt-level = 3
debug = false
