name: Release

on:
  push:
    tags:
    - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Rust
      run: |
        rustup update stable
        rustup default stable

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: ${{ runner.os }}-cargo

    - name: Get version
      run: cargo --version --verbose

    - name: Login
      run: cargo login ${{ secrets.CRATESIO_TOKEN }}

    - name: Publish
      run: cargo publish --verbose

    # - name: Logout
    #   run: cargo logout

  release:
    name: Build release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Rust
      run: |
        rustup update stable
        rustup default stable

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: ${{ runner.os }}-cargo

    - name: Get version
      run: cargo --version --verbose

    - name: Build
      run: |
        cargo build --release --verbose
        mv target/release/rss-forwarder rss-forwarder-linux-x86_64

    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: Binary
        path: rss-forwarder-linux-x86_64

    - name: Create release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        files: rss-forwarder-linux-x86_64

  image:
    name: Build image
    runs-on: ubuntu-latest
    steps:

      - name: Login to Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: docker build -t ghcr.io/${GITHUB_REPOSITORY}:${GITHUB_REF#refs/tags/v} .

      - name: Publish
        run: docker push --all-tags ghcr.io/${GITHUB_REPOSITORY}

      - name: Logout
        run: docker logout ghcr.io
