name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Rust
      run: |
        rustup update stable
        rustup default stable
        rustup component add clippy rustfmt

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: ${{ runner.os }}-cargo

    - name: Get version
      run: cargo --version --verbose
    
    - name: Check formatting
      run: cargo fmt -- --check --verbose
  
    - name: Run Clippy
      run: cargo clippy --verbose

    - name: Run tests
      run: cargo test --verbose
